* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-style: normal;
}

.calculator-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12rem;
}

.calculator-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  background-color: #28282b;
  width: 27rem;
  height: 33rem;
  border-radius: 9px;
}

.calculator-display {
  background-color: #c0c0c0;
  color: black;
  margin: 1.2rem;
  padding-right: 1rem;
  width: 84%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 3.4rem;
  border-radius: 9px;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.calculator-button-container {
  display: flex;
  padding: 0.4rem;
  justify-content: center;
  align-items: center;
  width: 90%;
  gap: 0.5rem;
}

.calculator-button {
  color: aliceblue;
  background-color: #006a4e;
  cursor: pointer;
  font-size: 3.4rem;
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 5rem;
  width: 5rem;
}

#multiply,
#equals,
#subtract,
#plus,
#divide {
  background-color: #f08000;
}

#clear {
  background-color: #0071c5;
}
